@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.site-content {
    position: relative;
    top: 62px;
    left: 0px;

    height: calc(100vh - 124px);
    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d6d6d6;

    font-family: "Lato", sans-serif;
}

.seats-input {
    width: 100%;
}

.choose-seats-button {
    width: 240px;
}
