@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.site-content {
    height: calc(100vh - 124px);
    background-color: #b8b6b2;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Lato", sans-serif;
}

.seats-form {
}

.seats-input {
    width: 100%;
}

.choose-seats-button {
    width: 240px;
}
